{% extends 'layout.html.twig' %}
{% block title %}Ajouter un profil{% endblock %}
{% block content %}
<div class="container-fluid as_block_fluid">
    <div class="container">
        <h1>Ajouter</h1>
        {% include 'Admin/form.html.twig' %}
    </div>
</div>
{% endblock %}
