<div class="container-fluid vr-guestbook">
    <div class="vr-quotes">
    <form method="post">
        <h2 class="vr-h1-guestbook">Nous contacter</h2>
        <div class="container">
            <p>Mon message : </p>
            <textarea class="form-control vr-quotes-textarea" name="content" id="exampleFormControlTextarea1"
                      rows="3">{{ guestBook.content }}</textarea>
            <div class="form-group">
                <input type="submit" name="Envoyer" class="btn btn-outline-success vr-navbar-search-button" value="Envoyer mon message">
                <a href="/GuestBook/index" class="btn btn-outline-success vr-navbar-search-button">Retour aux messages</a>
            </div>
        </div>

    </form>
</div>
</div>