{% extends 'layout.html.twig' %}
{% block title %}Ajouter un message{% endblock %}
{% block content %}
    <div class="container">
        <h1>Ajouter</h1>
        {% include 'Home/_form.html.twig' %}
    </div>
{% endblock %}