{% extends 'layout.html.twig' %}
{% block content %}
{% for mess in allMess %}
    <p class="lead"><strong class="as_strong">Contenue</strong> {{ mess.content }}</p>
    <p class="lead"><strong class="as_strong">Date de création:</strong> {{ mess.date }}</p>
    <hr class="my-4">
{% endfor %}
{% endblock %}