{% extends 'layout.html.twig' %}
{% block title %}Création d'annonce{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="vr-h1">Poster une annonce</h1>
        {% include 'Ads/_form.html.twig' %}
    </div>
{% endblock %}
