<div class="container-fluid as_container_user">
    <form class="needs-validation as_form_user"  method="POST" action="" >
        <h1 class="as_h1">CREATION DE COMPTE</h1>
        <div class="form-row as_form_user_user">
            <div class="col-md-7 mb-4 as_div_input_user">
                <input class="as_input_user" type="hidden" value="{{ users.id }}" name="id">
                <input class="as_input_user" type="hidden" value="0" name="id">
                <label class="as_label_user" for="firstname">Prénom</label>
                <input type="text" class="form-control as_input_user" name="firstname" placeholder="Votre prénom" required>
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
            <div class="col-md-7 mb-4 as_div_input_user">
                <label class="as_label_user" for="lastname">Nom de famille</label>
                <input type="text" class="form-control as_input_user"  name="lastname" placeholder="Votre nom" required>
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
            <div class="col-md-7 mb-4 as_div_input_user">
                <label class="as_label_user" for="email">Email</label>
                <input type="email" class="form-control as_input_user" name="email" placeholder="Votre Email" required>
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
        </div>
        <div class="form-row as_div_input_user">
            <div class="col-md-7 mb-4 as_div_input_user">
                <label class="as_label_user" for="password">Mot de Passe</label>
                <input type="password" class="form-control as_input_user" name="password" placeholder="Votre mot de passe" required>
                <div class="valid-feedback">Ok !</div>
                <div class="invalid-feedback">Valeur incorrecte</div>
            </div>
        </div>
        <div class="form-group as_div_input_user">
            <div class="form-check">
                <input class="form-check-input as_check_user" type="checkbox" value="" id="cgu" required>
                <label class="as_label_user" class="form-check-label" for="cgu">
                    J'accepte les conditions générales <a href="/Home/condGen">d'utilisation</a>
                </label>
                <div class="invalid-feedback">Vous devez accepter les CGU pour continuer</div>
            </div>
        </div>
        <div class="maximaxi as_inputBox_user">
            <button class="btn as_input_user_submit" type="submit" value="Je m'inscris !">Je m'inscris !</button>
        </div>
    </form>
</div>
