{% extends 'layout.html.twig' %}

{% block content %}
<div class=" container mk-text">
    <h1 class="mk-h2">Politique de confidentialité Stras'Help</h1>

        <p>(06 avril 2020)</p>
        <p>Afin que vous puissiez utiliser le Service Strashelp en toute confiance, la présente Politique de
            confidentialité vise à décrire de manière transparente quelles données sont traitées par STXH France,
            comment et pourquoi.</p>

    <h1>Type de données collectées</h1>
        <p>Nous sommes suceptibles de collecter les données suivantes vous concernant:</p>
        <li>Les données que vous renseignez</li>
        <li>Les données que nous collectons automatiquement par votre utilisation de nos services</li>
        <li>Données partenaires</li>
    <br/>

    <h1>Utilisation de vos données</h1>
        <p>Nous utilisons vos données pour les finalités suivantes:</p>
        <li>Utilisation de vos données sur la base de l'exécution du contrat</li>
        <li>Utilisation de vos données sur la base notre intérêt légitime</li>
        <li>Utilisation de vos données avec votre consentement</li>
        <li>Utilisation de vos données pour respecter nos obligations légales</li>
    <br/>

    <h1>Déstinataires des données</h1>
        <p>Les données que nous collectons sont accessibles à nos prestataires de services, agissant en qualité de
    sous-traitants, qui concourent administrativement et techniquement à la réalisation des finalités visées ci-dessus
    (prestataire d’hébergement, prestataire de paiement, technologie publicitaire…)</p>
        <p>Dans ce cadre, les données que nous collectons peuvent être transférées hors de l’Union Européenne. Dans ce
            cas nous nous assurons que ce transfert s’effectue à destination des pays reconnus comme assurant un niveau
            adéquat de protection de vos données personnelles ou, à tout le moins, sur la base des garanties appropriées
            prévues par la loi.</p>
        <p>Afin de respecter nos obligations légales, vos données personnelles peuvent également être transmises aux
        autorités administratives et judiciaires autorisées, uniquement sur réquisition judiciaire.</p>
        <p>Certains prestataires auxquels nous faisons appel sont susceptibles de collecter, avec votre consentement,
            des données en qualité de responsable de traitement. Il s’agit de :</p>

        <li>nos prestataires publicitaires visés ici (en cliquant sur "voir la liste de tous les partenaires"),vous
            pouvez également contrôler le dépôt de cookies par ces derniers au lien ci-avant,</li>
        <li>notre prestataire de service de géolocalisation HERE, qui est susceptible de récupérer les données suivantes
            : codes postaux, adresses postales (le cas échéant) et adresses IP. Ces données sont soumises à un processus
    d’anonymisation conforme à la réglementation en vigueur en matière de données à caractère personnel.</li>
        <li>notre prestataire de paiement Adyen, qui collecte les informations dites « Know Your Customer »
    visées ci-dessus.
    Ce dernier les utilise afin de vérifier votre identité, conformément à la règlementation visant la lutte contre
    le blanchiment et le financement du terrorisme.</li>
        <li>nos prestataires IAS et Comscore, qui réalisent des traitements de données visant à contrôler la qualité de
            nos impressions publicitaires ainsi que le taux de clics frauduleux sur celles-ci,</li>

        <p>Notre prestataire Mangopay SA agit en qualité de co-responsable de traitement avec LBC France pour la mise à
    disposition d’un Service de Paiement Sécurisé pour les Véhicules. Mangopay SA réalise l’ensemble des traitements de
    données liés aux Transactions grâce aux données que nous collectons via notre site. Nous assurons le service client
    en collaboration avec Mangopay SA. L’exercice des droits se fait dans la rubrique “Vos droits” de la présente
    politique de confidentialité. Mangopay SA traite également les données pour sa propre finalité afin de répondre à
    ses obligations légales en matière de blanchiment et financement du terrorisme. Pour en savoir plus consulter la
    Politique de confidentialité de Mangopay.</p>
        <p>Enfin, lorsque vous répondez à une Annonce ou remplissez un formulaire de devis ou de demande de plan, vos
        données de contact sont transmises à l’Annonceur ou au professionnel concerné, ayant la qualité de responsable
        de traitement, qui en est à l’origine.</p>
        <p>En effet, tout annonceur professionnel déposant une annonce sur leboncoin.fr est responsable du traitement de
        toutes les données personnelles qu’il est susceptible de recevoir des utilisateurs de Strashelp.fr.</p>
        <p>A ce titre, il s'engage à respecter les dispositions légales et réglementaires en vigueur relatives aux
            données personnelles des utilisateurs qu'il collecterait. Notamment, il s'engage à mettre en oeuvre tout
            moyen technique pour maintenir l'intégrité, la sécurité, la confidentialité des données personnelles ainsi
            qu'à garantir la sécurité des accès aux systèmes de stockage de ces données personnelles.</p>
        <p>L'annonceur professionnel est informé des obligations lui incombant en tant que responsable de traitement, et
    notamment le respect des droits des utilisateurs et en particulier, leur droit d'accès, d'opposition et de
    rectification des informations les concernant. Si les utilisateurs souhaitent exercer leurs droits, ils doivent
    contacter l’annonceur concerné directement.</p>
        <p>L’annonceur professionnel engage sa responsabilité en cas de non-respect des présentes obligations et
            garantit et indemnisera LBC France et ses prestataires (y compris les frais de justice et honoraires
            d’avocat) contre toute action, revendication ou demande introduite par une autorité ou un tiers suite à tout
            manquement de l’annonceur aux termes du présent article.</p>

    <h1>Sécurité de vos données</h1>

        <p>Nous protégons vos informations à l'aide de mesures de sécurité physiques, électroniques et administratives.
    Nos mesures de protection incluent notamment des pare-feu, des contrôles d'accès physiques à nos centres de données
    et des contrôles d'autorisation d'accès aux informations</p>
</div>
{% endblock %}