{% extends 'layout.html.twig' %}
{% block content %}

<div class=" container mk-text">
    <h2 class="mk-h2">Informations légales</h2>

        <p>Le site Internet www.strashelp.fr, ci-après dénommé « Strashelp.fr » propose un service de dépôt et de
            consultation de petites annonces sur Internet plus spécifiquement destiné aux particuliers. L'accès au site,
            sa consultation et son utilisation sont subordonnés à l'acceptation sans réserve des présentes Conditions
            Générales d'Utilisation de Strashelp.fr. Le site est édité par STXH FRANCE, SAS au capital de 3.252.490
            euros, immatriculée au registre du commerce et des sociétés de Strasbourg sous le numéro 521 724 336.
            Siège social : 85-87 Rue du Faubourg Saint Martin, 67100 Strasbourg. Le Directeur de Publication de
            Strashelp.fr est Monsieur Yavuz KUTUK. Numéro de TVA intracommunautaire : FR32521724336 Pour toute question
            sur l'association, vous pouvez nous envoyer vos questions par email. Un service réquisition répond
            uniquement aux demandes des autorités publiques (gendarmerie, police...).
            Pour toute demande ne provenant pas des autorités publiques, nous vous invitons à utiliser notre formulaire
            de Contact.
        </p>

        <p>Nous vous transmettrons les informations demandées dans les meilleurs délais. Ces recherches sont effectuées
            à titre gracieux. Pour simplifier nos procédures, merci de bien vouloir indiquer dans votre réquisition
            l'adresse email à laquelle vous faire parvenir notre réponse. Strashelp.fr est hébergé par VARKOF
            Entreprises - 8 rue de la Ville l'Evêque - 75008 Paris CONDITIONS GENERALES D'UTILISATION DU SERVICE
            STRASHELP (06/01/2020)
        </p>
</div>
{% endblock %}